body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    align-items: center;
    padding: 20px 215px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap:1rem;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.head-container {
    display: flex;
    padding: 80px 215px 145px 215px;
    background-color: #1F2937;
    color: #E5E7EB ;
    justify-content: space-between;
}

.head-container div {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 220px;
    justify-content: space-between;
    align-items: flex-start;
    font-size:18px;
    text-align: start;
}

.head-container h1 {
    font-size: 48px ;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.head-container .right-box {
    background-color: #a6a7a989;
    align-items: center;
    justify-content: center;
    width: 500px;
}

button {
    color:#F9FAF8;
    background-color: #3882F6;
    font-weight: 700;
    /* height: 25px; */
    border-radius: 8px;
    /* width: 100px; */
    border: #3882F6;
    padding: 8px 35px;
    
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 50px 0px;
}

.big-box {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 120px; 
}

.small-box {
   max-width: 180px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center;
   align-items: center;
   display: flex;
}

.small-box .text{
   color: #7b7c7e;
   font-size: 18px;
   max-width: 170px;
}

.mini-box {
    height: 170px;
    width: 170px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.quote-container{
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    flex-direction: column;
    font-weight: 300; 
    font-style: italic;
    text-align: start;
    padding: 130px 305px 100px 350px;
    /* justify-content: center;
    align-items: center; */
}

.sub-text {
    font-size: 26px;
    font-weight: 700;
    text-align: end;
    font-style: normal;
}

.text-container { 
    display: flex;
    /* background-color: #3882F6; */
    padding: 80px 215px;
    justify-content: center;
    align-items: center;
}

.blue-text {
    background-color: #3882F6;
    padding: 50px 80px;
    width: 100%;
    border-radius: 8px;
    color: #E5E7EB;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
 }

.call-title {
    font-weight: 500;
    font-size: 24px;
    color: #F9FAF8;
    text-align: start;
 }

.call-button {
    border:2px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 40px 215px;
}