body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    align-items: center;
    padding: 20px 15rem;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap:1rem;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.head-container {
    display: flex;
    padding: 5rem 15rem 9rem 15rem;
    background-color: #1F2937;
    color: #E5E7EB ;
    justify-content: space-between;
}

.head-container div {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
}

.head-container h1 {
    font-size: 48px ;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.head-container .right-box {
    background-color: #a6a7a989;
    align-items: center;
    justify-content: center;
    width: 500px;
}